<!-- FOOTER SECTION -->
<footer class="section">
	<div class="container">
		<div class="row">
			<div class="col-4 col-md-6 col-sm-12">
				<div class="content">
					<a href="#" class="logo">
						<i class="bx bx-movie-play bx-tada main-color"></i>Fl<span class="main-color">i</span>x
					</a>
					<p id="paragraph">
						"Welcome to our movie streaming service, where cinematic
						adventures await at the click of a button. Dive into a vast
						library of films spanning genres from action-packed blockbusters
						to heartwarming dramas, offering endless entertainment for every
						mood and occasion."
					</p>
					<div class="social-list">
						<a href="#" class="social-item">
							<i class="bx bxl-facebook"></i>
						</a>
						<a href="#" class="social-item">
							<i class="bx bxl-twitter"></i>
						</a>
						<a href="#" class="social-item">
							<i class="bx bxl-instagram"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="col-8 col-md-6 col-sm-12">
				<div class="row">
					<div class="col-3 col-md-6 col-sm-6">
						<div class="content">
							<p><b>Flix</b></p>
							<ul class="footer-menu">
								<li><a href="/about">About us</a></li>
								<li><a href="/profile">My profile</a></li>
								<li><a href="/Subscription">Pricing plans</a></li>
								<li><a href="/contact">Contacts</a></li>
							</ul>
						</div>
					</div>
					<div class="col-3 col-md-6 col-sm-6">
						<div class="content">
							<p><b>Browse</b></p>
							<ul class="footer-menu">
								<li><a href="/about">About us</a></li>
								<li><a href="/profile">My profile</a></li>
								<li><a href="/Subscription">Pricing plans</a></li>
								<li><a href="/contact">Contacts</a></li>
							</ul>
						</div>
					</div>
					<div class="col-3 col-md-6 col-sm-6">
						<div class="content">
							<p><b>Help</b></p>
							<ul class="footer-menu">
								<li><a href="/about">About us</a></li>
								<li><a href="/profile">My profile</a></li>
								<li><a href="/Subscription">Pricing plans</a></li>
								<li><a href="/contact">Contacts</a></li>
							</ul>
						</div>
					</div>
					<div class="col-3 col-md-6 col-sm-6">
						<div class="content">
							<p><b>Download app</b></p>
							<ul class="footer-menu">
								<li>
									<a href="#">
										<img src="/images/google-play.png" alt="" />
									</a>
								</li>
								<li>
									<a href="#">
										<img src="/images/app-store.png" alt="" />
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END FOOTER SECTION -->

<!-- COPYRIGHT SECTION -->
<div class="copyright">

	<p>
		Copyright &copy; 2024 Under Flix.com : (Project Is Done By Shankar)
		<a href="index.html"> Flix</a>
	</p>
</div>

<!-- END COPYRIGHT SECTION -->