<link rel="stylesheet" href="/stylesheets/navbar/navbar.css">
</head>

<body>
	<!-- NAV -->
	<div class="nav-wrapper">
		<div class="container">
			<div class="nav">
				<a href="/home" class="logo">
					<i class="bx bx-movie-play bx-tada main-color"></i>Fl<span class="main-color">i</span>x
				</a>
				<ul class="nav-menu" id="nav-menu">
					<li>
						<a href="/home"><i class="ri-home-2-line"></i> Home</a>
					</li>
					<li>
						<a href="/Movies"><i class="ri-clapperboard-line"></i> Movies</a>
					</li>
					<li>
						<a href="/series"><i class="ri-movie-line"></i> Series</a>
					</li>
					<li>
						<a href="/Anime"><i class="ri-bear-smile-line"></i> Anime</a>
					</li>
					<li>
						<a href="/"><i class="ri-admin-line"></i>Logout</a>
					</li>
				</ul>

				<!-- MOBILE MENU TOGGLE -->
				<div class="hamburger-menu" id="hamburger-menu">
					<div class="hamburger"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END NAV -->