<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<!-- OWL CAROUSEL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
		crossorigin="anonymous" />
	<!-- BOX ICONS -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<!-- remix icons  -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
	<!-- APP CSS -->

	<link href="https://fonts.googleapis.com/css?family=Gayathri&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/About/About.css">
	<link rel="stylesheet" href="/stylesheets/About/AboutGrid.css">
	<link rel="stylesheet" href="/stylesheets/About/Style.css">
</head>

<body>

	<!-- NAV -->
	<div class="nav-wrapper">
		<div class="container">
			<div class="nav">
				<a href="index.html" class="logo">
					<i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
				</a>
				<ul class="nav-menu" id="nav-menu">
					<li><a href="/home"><i class="ri-home-2-line"></i> Home</a></li>
					<li><a href="/Movies"><i class="ri-clapperboard-line"></i> Movies</a></li>
					<li><a href="/Series"><i class="ri-movie-line"></i> Series</a></li>
					<li><a href="/Anime"><i class="ri-bear-smile-line"></i> Anime</a></li>
					<li><a href="/Login" target="_blank"><i class="ri-admin-line"></i>Login</a></li>
				</ul>



				<!-- MOBILE MENU TOGGLE -->
				<div class="hamburger-menu" id="hamburger-menu">
					<div class="hamburger"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END NAV -->

	<!-- ABOUT US SECTIOIN  -->


	<canvas id="rain"></canvas>

	<div id="container-2">
		<h1>ABOUT US</h1>
		<h3>WELCOME TO FLIX</h3>
		<div class="dis">
			<p>
				Flix is a movie streaming platform that offers a wide variety of movies and series to watch online for
				free
				or purchase at a
				Flix is a movie and series streaming platform that offers a wide range of movies, WebSeries, Anime, and
				more
				to its users. It was founded in the
				Flix is a movie streaming platform that offers a wide variety of movies.

			</p>
		</div>
		<div id="options">
			<button class="Learn1">Developers</button>

			<button class="Learn2">Learn More</button>

			<button class="Learn3">Contact</button>

		</div>
	</div>

	<!-- DEVELOPERS  -->

	<div class="infor" id="option1">

		<div class="cards">
			<div class="cards-1">
				<figure class="snip1336">
					<img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
						alt="sample87" />
					<figcaption>
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg"
							alt="profile-sample4" class="profile" />
						<h2>Hans Down<span>Engineer</span></h2>
						<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine
							target.</p>
						<a href="#" class="follow">Follow</a>

					</figcaption>
				</figure>
			</div>
			<div class="cards-1">
				<figure class="snip1336">
					<img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
						alt="sample87" />
					<figcaption>
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg"
							alt="profile-sample4" class="profile" />
						<h2>Hans Down<span>Engineer</span></h2>
						<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine
							target.</p>
						<a href="#" class="follow">Follow</a>

					</figcaption>
				</figure>
			</div>
			<div class="cards-1">
				<figure class="snip1336">
					<img src="https://images.unsplash.com/photo-1555949963-aa79dcee981c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
						alt="sample87" />
					<figcaption>
						<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample4.jpg"
							alt="profile-sample4" class="profile" />
						<h2>Hans Down<span>Engineer</span></h2>
						<p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine
							target.</p>
						<a href="#" class="follow">Follow</a>

					</figcaption>
				</figure>
			</div>




		</div>



	</div>

	<!-- END DEVELOPERS -->


	<!-- LEARN MORE  -->

	<div class="infor" id="creater">
		<h1 style="color: red; margin: 20px 0px;">Learn More</h1>

		<h3>Our Mission</h3>
		<p>

			Our mission is simple: to make movie-watching an exhilarating experience for everyone. We believe that
			everyone deserves access to quality entertainment, and that's why we've curated a diverse collection of
			films that cater to every taste and preference.


		</p>


		<h3>A World of Possibilities</h3>
		<p>

			Dive into our vast selection of movies, ranging from timeless classics to the latest blockbusters. Whether
			you're in the mood for heart-pounding action, side-splitting comedy, spine-chilling horror, or heartwarming
			drama, you'll find it all here. With new titles added regularly, there's always something fresh and exciting
			to discover.

		</p>

		<h3>Unrivaled User Experience:</h3>
		<p>


			We're committed to providing you with the best possible viewing experience. Our sleek and intuitive
			interface makes it easy to find the perfect movie for any occasion, while our advanced recommendation
			algorithms help you discover hidden gems you never knew existed. Sit back, relax, and let us take care of
			the rest.
		</p>
		<h3>Anywhere, Anytime Access:</h3>

		<p>

			With our platform, you're no longer confined to the confines of a movie theater or living room sofa. Whether
			you're at home, on the go, or anywhere in between, you can enjoy your favorite movies on your preferred
			device. Stream seamlessly on your laptop, tablet, smartphone, or smart TV, and pick up right where you left
			off, whenever and wherever you please.
		</p>


		<h3>Join Our Community:</h3>

		<p>

			Become part of our vibrant community of movie enthusiasts from around the world. Share your thoughts,
			reviews, and recommendations with fellow cinephiles, and connect with like-minded individuals who share your
			passion for film.

		</p>
		<h3>Your Privacy, Our Priority:</h3>
		<p>
			Rest assured, your privacy and security are our top priorities. We adhere to the highest standards of data
			protection and encryption to ensure that your personal information remains safe and secure at all times.
		</p>

		<h3>Start Your Movie Adventure Today:</h3>
		<p>

			Ready to embark on your movie-watching journey? Sign up for your free account today and unlock a world of
			cinematic wonders at your fingertips. Whether you're looking for an adrenaline rush, a good laugh, or a
			heartfelt tearjerker, we've got something for everyone. Lights, camera, action - let the show begin!
		</p>



	</div>

	<!-- END LEARN MORE  -->


	<!-- CONTACT  -->

	<div class="infor" id="option3">
		<div class="cont">
			<div class="form-content">
				<h2>Contact us</h2>

				<form action="#">
					<div class="form-group">
						<label class="control-label" for="name">Name &nbsp;&nbsp;</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
							required />
					</div>

					<div class="form-group">
						<label class="control-label" for="email">Reason &nbsp;&nbsp;</label>
						<select name="reason" class="form-control" required>
							<option value="General Inquiry">Service Information</option>
							<option value="Place Order">Project Proposal</option>
							<option value="Report Issue">Report Issue</option>
						</select>

					</div>

					<div class="form-group">
						<label class="control-label" for="email">Email &nbsp; &nbsp;</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email"
							required />

					</div>

					<div class="form-group">
						<label class="control-label" for="message">Message &nbsp; &nbsp;</label>
						<div class="input-group">
							<textarea rows="5" cols="30" class="form-control" id="message" name="message"
								placeholder="Enter your message" required></textarea>

						</div>
					</div>
					<div class="form-group">

						<button type="submit" id="feedbackSubmit" class="btn-button">Send
							Feedback</button>
					</div>


				</form>
			</div>

		</div>
	</div>
	<!-- END CONTACT -->

	<!-- END ABOUT US SECTION  -->








	<!-- FOOTER SECTION -->
	<footer class="section">
		<div class="container">
			<div class="row">
				<div class="col-4 col-md-6 col-sm-12">
					<div class="content">
						<a href="#" class="logo">
							<i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id
							nobis
							beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto
							et.
							Dolores, quibusdam?
						</p>
						<div class="social-list">
							<a href="#" class="social-item">
								<i class="bx bxl-facebook"></i>
							</a>
							<a href="#" class="social-item">
								<i class="bx bxl-twitter"></i>
							</a>
							<a href="#" class="social-item">
								<i class="bx bxl-instagram"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-8 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Flix</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Browse</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Help</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Download app</b></p>
								<ul class="footer-menu">
									<li>
										<a href="#">
											<img src="/images/app-store.png" alt="">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/images/google-play.png" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER SECTION -->

	<!-- COPYRIGHT SECTION -->
	<div class="copyright">
		<p>Copyright &copy; 2024 Under Flix.com : (Project Is Done By Shankar) <a href="index.html"> Flix</a></p>
	</div>
	<!-- END COPYRIGHT SECTION -->




	<script src="/javascripts/About/About.js"></script>
</body>

</html>