<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		Contact Us
	</title>
	<!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">
	<!-- OWL CAROUSEL -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
		integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
		crossorigin="anonymous" />
	<!-- BOX ICONS -->
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<!-- remix icons  -->
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
	<!-- APP CSS -->
	<link rel="stylesheet" href="/stylesheets/Profile/app.css">
	<link rel="stylesheet" href="/stylesheets/Profile/grid.css">
	<link rel="stylesheet" href="/stylesheets/Profile/Profile.css">
	<script src="https://kit.fontawesome.com/aa7454d09f.js" crossorigin="anonymous"></script>
	<% include ./partials/navbar.ejs %>

	<!-- CONTACT US  -->
	<section>
		<div class="container">
			<div class="section-header">
				<h2>Developer</h2>
			</div>
			<div class="row-info">
				<div class="col-info shadow">
					<img src="/images/shankar.jpg" alt="">
				</div>
				<div class="col-info profile-text">

					<h1>
						<span id="element" style="text-align: center;"></span>
					</h1>
					<h1>
						PROFESSION : <span id="element-2" style="color: purple;"></span>
					</h1>

				</div>

			</div>
		</div>
		</div>
	</section>

	<!-- ABOUT ME SECTION -->
	<section>
		<div class="container">
			<div class="section-header">
				<h2>ABOUT ME</h2>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					<p>
						I am a passionate web developer with a keen eye for detail and a drive for creating innovative
						digital experiences. With several years of hands-on experience in web development, I specialize
						in crafting user-friendly, responsive websites that elevate brands and engage audiences
						effectively.


					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- END ABOUT ME SECTION  -->


	<section>
		<div class="container">
			<div class="section-header">
				<h2>Professional Background:</h2>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					<p>
						I have a robust background in web development, having worked with diverse clients and projects
						throughout my career. My expertise spans across front-end and back-end development, proficiency
						in languages such as HTML, CSS, JavaScript, and experience with frameworks like React and
						Angular. I am adept at building scalable and efficient web solutions tailored to meet the unique
						needs of each project.

					</p>
				</div>
			</div>
			<div class="section-header">
				<h2> Key Achievements:</h2>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					<p>
					<ul>
						<li> Successfully led the development of Flix.</li>
						<li> Implemented innovative solutions resulting in web development.
						</li>
					</ul>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="section-header">
				<h1>Areas of Expertise</h1>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					<ul>
						<li>Front-end Development: HTML, CSS, JavaScript, React</li>
						<li>Back-end Development: Node.js, Express.js, MongoDB</li>
						<li>Responsive Design, UI/UX Optimization.</li>
						<li>Version Control Systems: Git</li>
					</ul>
				</div>

			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="section-header">
				<h1>Personal Interests</h1>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					Outside of coding, I enjoy exploring new technologies, attending tech meetups, and contributing to
					open-source projects. I also have a passion for photography and traveling, which fuels my creativity
					and provides fresh perspectives that I bring into my work.
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="container">
			<div class="section-header">
				<h1>Contact Information</h1>
			</div>
			<div class="row-info">
				<div class="col-aboutme">
					<ul>
						<li>Email: Shankar880DBZ@gmail.com</li>
						<li><a href="">GitHub : https://github.com/ShankarBhadur/Movie-Streaming.git</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>



















	<!-- END CONTACT US  -->

















	<!-- FOOTER SECTION -->
	<footer class="section">
		<div class="container">
			<div class="row">
				<div class="col-4 col-md-6 col-sm-12">
					<div class="content">
						<a href="#" class="logo">
							<i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
						</a>
						<p>
							"Welcome to our movie streaming service, where cinematic adventures await at the click of a
							button. Dive into a vast library of films spanning genres from action-packed blockbusters to
							heartwarming dramas, offering endless entertainment for every mood and occasion."
						</p>
						<div class="social-list">
							<a href="#" class="social-item">
								<i class="bx bxl-facebook"></i>
							</a>
							<a href="#" class="social-item">
								<i class="bx bxl-twitter"></i>
							</a>
							<a href="#" class="social-item">
								<i class="bx bxl-instagram"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-8 col-md-6 col-sm-12">
					<div class="row">
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Flix</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Browse</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Help</b></p>
								<ul class="footer-menu">
									<li><a href="/about">About us</a></li>
									<li><a href="/profile">My profile</a></li>
									<li><a href="/Subscription">Pricing plans</a></li>
									<li><a href="/contact">Contacts</a></li>
								</ul>
							</div>
						</div>
						<div class="col-3 col-md-6 col-sm-6">
							<div class="content">
								<p><b>Download app</b></p>
								<ul class="footer-menu">
									<li>
										<a href="#">
											<img src="/images/google-play.png" alt="">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="/images/app-store.png" alt="">
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- END FOOTER SECTION -->

	<!-- COPYRIGHT SECTION -->
	<div class="copyright">
		<p>Copyright &copy; 2024 Under Flix.com : (Project Is Done By Shankar) <a href="index.html"> Flix</a></p>
	</div>
	<!-- END COPYRIGHT SECTION -->





	<!-- SCRIPT -->
	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- OWL CAROUSEL -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
		integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
		crossorigin="anonymous"></script>

	<!-- APP SCRIPT -->
	<script src="app.js" defer></script>
	<script src="Profile.js"></script>
	<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
	<script>
		var typed = new Typed('#element', {
			strings: ['I AM SHANKAR'],
			typeSpeed: 100,
			loop: true,
		});

	</script>
	<script>
		var typed = new Typed('#element-2', {
			strings: [' WEB DEVELOPER'],
			typeSpeed: 100,
			loop: true,
		});

	</script>

</body>

</html>