<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Latest Movies
    </title>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- OWL CAROUSEL -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <!-- BOX ICONS -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- remix icons  -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <!-- APP CSS -->
    <link rel="stylesheet" href="/stylesheets/more/anime/Anime.css">
    <link rel="stylesheet" href="/stylesheets/more/anime/AnimeGrid.css">
</head>

<body>


    <!-- NAV -->
    <div class="nav-wrapper">
        <div class="container">
            <div class="nav">
                <a href="/index.html" class="logo">
                    <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                </a>
                <ul class="nav-menu" id="nav-menu">
                    <li><a href="../index.html"><i class="ri-home-2-line"></i> Home</a></li>
                    <li><a href="/Movies/index.html"><i class="ri-clapperboard-line"></i> Movies</a></li>
                    <li><a href="/Series/Series.html"><i class="ri-movie-line"></i> Series</a></li>
                    <li><a href="/Anime/index.html"><i class="ri-bear-smile-line"></i> Anime</a></li>
                    <li><a href="/Login/Login.html" target="_blank"><i class="ri-admin-line"></i>Login</a></li>
                </ul>

                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <button>Search</button>
                </div>

                <!-- MOBILE MENU TOGGLE -->
                <div class="hamburger-menu" id="hamburger-menu">
                    <div class="hamburger"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END NAV -->

    <!-- LATEST ANIME SECTION -->
    <div class="section">
        <div class="container">
            <div class="section-header">
                latest ANIME

            </div>
            <div class="movies-cards">
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/11/c1/64/11c164c91184e6752da9727897f1502a.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Your Name
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/ad/74/ff/ad74ffd0e0b2e4115edfe88e08421c92.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                I Want To Eat Your Pancreas
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>

                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/01/f8/19/01f819bc06166eda181ae4c3d5f21368.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Kung Fu Pnada 4
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/55/e9/31/55e9318f1cb1f3b3d9c43942451ce799.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Dragon ballz Super Broly
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/96/be/f0/96bef0ddd72be7fc6fcdf25d8b708384.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Ben Ten Destroy All Aliens
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/bf/30/dc/bf30dc4e83be3fb78a0bfe22ba65f03b.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Ben Ten Race Against Time
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/da/bc/4b/dabc4b10f986c0010a2f44c96acc0fc7.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Dragon Ballz Super Hero
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/0a/f8/43/0af8436c3807f753b1e4277405207fc8.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Black Clover
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/ad/12/41/ad124140f1519436c499647a834f8fca.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Maboroshi
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/06/58/f4/0658f4e67fcb2670c496165a763e11a1.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                The Seven Deadly Sins
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
            </div>

            <div class="movies-cards " id="movies-cards">

                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/e3/57/6d/e3576d597a6698d762e6f4fb99ef694b.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                The Quintessential Quintuplets
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/d4/a1/96/d4a196ffd5d3f2ad9a55aeaebc53ca72.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                To Every You I've Loved before
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/10/1e/73/101e736d9a1128e5d57ec127772bbf8a.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Psycho-Pass
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/0d/38/cf/0d38cf5dfe3bab13a2e8271b6a3adc60.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Fruits Basket
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/1e/b9/c3/1eb9c3944e53e92a4d3a691c099e181d.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Drifting Home
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/c6/71/2b/c6712bae067a417681f445b8de81adf2.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Suzume
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/564x/a5/36/74/a536744ff7011903f5a5beb1d5d34f2d.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Pokemon The Rise Of Darkrai
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/d7/6f/e8/d76fe8be7c3790c84fce47d1dc7a9980.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Bubble
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/8b/09/12/8b0912e1c84ede07fb4f5c5140aebbf8.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Child Of Kamiari Month
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
                <div class="cards">

                    <!-- MOVIE ITEM -->
                    <a href="#" class="movie-item">
                        <img src="https://i.pinimg.com/originals/58/66/15/58661576a05c225bd09a7726b6bac3b2.jpg" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                Violet Evergarden
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>120 mins</span>
                                </div>
                                <div class="movie-info">
                                    <span>HD</span>
                                </div>
                                <div class="movie-info">
                                    <span>16+</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- END MOVIE ITEM -->
                </div>
            </div>
            <div class="btn">
                <div class="button-more">

                    <button id="button">
                        <h3>Next</h3>
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- END LATEST ANIME SECTION -->













    <!-- FOOTER SECTION -->
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-6 col-sm-12">
                    <div class="content">
                        <a href="#" class="logo">
                            <i class='bx bx-movie-play bx-tada main-color'></i>Fl<span class="main-color">i</span>x
                        </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut veniam ex quos hic id
                            nobis
                            beatae earum sapiente! Quod ipsa exercitationem officiis non error illum minima iusto
                            et.
                            Dolores, quibusdam?
                        </p>
                        <div class="social-list">
                            <a href="#" class="social-item">
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-twitter"></i>
                            </a>
                            <a href="#" class="social-item">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-8 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Flix</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/AboutUs/About.html">About us</a></li>
                                    <li><a href="/MyProfile/Profile.html">My profile</a></li>
                                    <li><a href="/Price-plan/Price.html">Pricing plans</a></li>
                                    <li><a href="/ContactUs/Contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Browse</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/AboutUs/About.html">About us</a></li>
                                    <li><a href="/MyProfile/Profile.html">My profile</a></li>
                                    <li><a href="/Price-plan/Price.html">Pricing plans</a></li>
                                    <li><a href="/ContactUs/Contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Help</b></p>
                                <ul class="footer-menu">
                                    <li><a href="/AboutUs/About.html">About us</a></li>
                                    <li><a href="/MyProfile/Profile.html">My profile</a></li>
                                    <li><a href="/Price-plan/Price.html">Pricing plans</a></li>
                                    <li><a href="/ContactUs/Contact.html">Contacts</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-3 col-md-6 col-sm-6">
                            <div class="content">
                                <p><b>Download app</b></p>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <img src="./images/google-play.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="./images/app-store.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END FOOTER SECTION -->

    <!-- COPYRIGHT SECTION -->
    <div class="copyright">
        <p>Copyright &copy; 2024 Under Flix.com : (Project Is Done By Shankar) <a href="index.html"> Flix</a></p>
    </div>
    <!-- END COPYRIGHT SECTION -->
    <!-- END NAV -->
    <!-- SCRIPT -->
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- OWL CAROUSEL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>

    <!-- APP SCRIPT -->
    <script src="/javascripts/more/anime/btn.js" defer></script>

</body>

</html>